.container {
    max-width: 400px;
}

img {
    width: 40px;
    height: 40px;
}

.delete {
    cursor: pointer;
}

.compras li:nth-child(odd) {
    background-color: lemonchiffon;
}

.compras li:nth-child(even) {
    background-color: lightpink;
}

.filtered {
    display: none !important;
}